/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,600,700,900&display=swap');

/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(jquery-ui.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: 'Raleway', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1 {
     font-size: 24px;
}

h2 {
     font-size: 22px;
}

h3 {
     font-size: 18px;
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 0px;
     font-weight: 500;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

#logo {
     width: 3em;
     height: 1em;
}

:focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.light_silver {
     background: #f9f9f9;
}

.theme_bg {
     background: #38c8a8;
}

.margin_top_30 {
     margin-top: 30px !important;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}


/**-- heading section --**/


/*-- navigation--*/

.navigation.navbar {
     float: right;
     padding-top: 12px;
}

.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 0 25px;
     color: #fff;
     font-size: 16px;
     line-height: 20px;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
     color: #c0a808;
}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
     color: #fdd430;
}

.sign_btn {
     padding-left: 50px;
}

.sign_btn a {
     background-color: transparent;
     display: inline-block;
     color: #fff;
     font-size: 17px;
}


/*-- header area --*/

.header {
     width: 100%;
     background: #232323;
     padding: 20px 30px;
}

.logo a {
     font-size: 63px;
     font-weight: bold;
     text-transform: uppercase;
     color: #fff;
     line-height: 0px;
}

.banner_main {
     padding: 90px 0;
     background: cadetblue;
     background-size: 100% 100%;
     background-repeat: no-repeat;
     padding-top: 60px;
     background-position: center;
     background-size: cover;
}

.text-bg {
     text-align: center;
}

.black {
     color: #232323;
     font-weight: bold;
}

.text-bg h1 {
     color: #fff;
     font-size: 75px;
     line-height: 90px;
     padding-bottom: 50px;
     text-transform: uppercase;
     font-weight: 600;
     text-align: left;
}

.text-bg a {
     font-size: 17px;
     background-color: #fff;
     color: #000;
     padding: 13px 0px;
     width: 100%;
     max-width: 190px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
     float: left;
}

.text-bg a:hover {
     background-color: #232323;
     color: #fff;
     transition: ease-in all 0.5s;
     border-radius: 26px;
}

.text-img figure {
     margin: 0px;
}

.text-img figure img {
     width: 100%;
     max-width: 519px;
     border: #232323 solid 14px;
     border-radius: 300px;
     float: right;
}

.text-img1 {
     margin-top: -100px;
}

.text-img1 figure {
     margin: 0px;
}

.text-img1 figure img {
     width: 100%;
     max-width: 313px;
     ;
     border: #232323 solid 14px;
     border-radius: 300px;
     float: left;
}

.titlepage {
     text-align: center;
     padding-bottom: 60px;
}

.titlepage h2 {
     font-size: 40px;
     color: #3e3e3e;
     line-height: 40px;
     font-weight: 600;
     padding: 0;
     text-transform: uppercase;
}

.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}


/** we_do section **/

.padd_left0 {
     padding-left: 0;
}

.we_do {
     background: #232323;
     padding: 90px 0px 60px 0px;
}

.we_do .titlepage h2 {
     color: #fff;
     padding-bottom: 10px;
}

.titlepage span {
     background: #fff;
     border-radius: 44px;
     padding: 3px 11px;
     z-index: 999;
     position: relative;
}

.titlepage strong {
     border-top: #e5af23 solid 1px;
     width: 260px;
     position: absolute;
     left: 0;
     right: 0;
     margin: 0 auto;
     top: 61px;
}

.we_do_box i {
     border: #ceab06 solid 4px;
     width: 160px;
     height: 160px;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0 auto;
     border-radius: 85px;
     transition: ease-in all 0.1s;
     cursor: pointer;
}

.we_do_box i:hover {
     width: 140px;
     height: 140px;
     transition: ease-in all 0.2s;
}

.we_do_box {
     text-align: center;
}

.we_do_box h4 {
     color: #fff;
     text-transform: uppercase;
     font-size: 30px;
     line-height: 30px;
     font-weight: 500;
     padding: 0;
     padding-top: 35px;
}

.we_do_box p {
     color: #fff;
     font-size: 17px;
     line-height: 28px;
     padding: 25px 0;
}

.we_do .read_more {
     margin: 0 auto;
     display: block;
}


/** end we_do section **/

/** footer section **/
.cont {
     text-align: center;
}

.copyright {
     margin-top: 50px;
     padding: 20px 0px;
     background-color: #fff;
}

.copyright p {
     color: #040404;
     font-size: 18px;
     line-height: 22px;
     text-align: center;
}

.copyright a {
     color: #040404;
}

.copyright a:hover {
     color: #d0b608;
}


/** end footer **/