
   {% extends "base.html" %}
   {% block content %}
   <!-- banner -->
   <section class="banner_main">
      <div class="container">
         <div class="row d_flex">
            <div class="col-md-4">
               <div class="text-bg">
                  <h1><span class="black">MUSIC</span>
                     <span class="black">FOR</span>
                     <span class="black">YOUR</span>
                     <span class="black">MOOD </span>
                  </h1>
                  <a href="{{ url_for('register') }}">Sign Up!</a>
               </div>
            </div>
            <div class="col-md-8">
               <div class="text-img">
                  <figure><img src="{{ url_for('static', filename='images/headphones.jpg') }}" alt="#" /></figure>
               </div>
               <div class="text-img1">
                  <figure><img src="{{ url_for('static', filename='images/crying.gif') }}" alt="#" /></figure>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- end banner -->
   <!-- we_do -->
   <div id="we_do" class="we_do">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>What's Muzica?</h2>
                  <span></span>
                  <strong></strong>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4">
               <div class="we_do_box">
                  <i><img src="{{ url_for('static', filename='images/smiley.png') }}" alt="#" /></i>
                  <h4>It starts with a mood</h4>
                  <p>High energy? Low energy? Create an account or login then input how you are feeling
                     on our sliders.</p>
               </div>
            </div>
            <div class="col-md-4">
               <div class="we_do_box">
                  <i><img src="{{ url_for('static', filename='images/music.png') }}" alt="#" /></i>
                  <h4>Get a song!</h4>
                  <p>After inputting how you're feeling, you will recieve a song from Spotify!</p>
               </div>
            </div>
            <div class="col-md-4">
               <div class="we_do_box">
                  <i><img src="{{ url_for('static', filename='images/playlist.png') }}" alt="#" /></i>
                  <h4>Access your Library</h4>
                  <p>Muzica will register all the songs you get returned. You will be able to
                     listen, save and create a playlist of YOUR mood into your Spotify account!</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end we_do -->
   <!-- testimonial 
      <div class="testimonial">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Testimonial</h2>
                     <span></span>
                     <strong></strong>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div id="myCarousel" class="carousel slide testimonial_Carousel " data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="container">
                              <div class="carousel-caption ">
                                 <div class="row d_flex">
                                    <div  class="col-md-4">
                                       <div class="test_box">
                                          <div class="jons">
                                             <figure><img src="images/jons_img1.png" alt="#"/></figure>
                                          </div>
                                       </div>
                                    </div>
                                    <div  class="col-md-8">
                                       <div class="test_box">
                                          <div class="jons">
                                             <h4>Jonson Donat</h4>
                                          </div>
                                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row d_flex">
                                    <div  class="col-md-4">
                                       <div class="test_box">
                                          <div class="jons">
                                             <figure><img src="images/jons_img1.png" alt="#"/></figure>
                                          </div>
                                       </div>
                                    </div>
                                    <div  class="col-md-8">
                                       <div class="test_box">
                                          <div class="jons">
                                             <h4>Jonson Donat</h4>
                                          </div>
                                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row d_flex">
                                    <div  class="col-md-4">
                                       <div class="test_box">
                                          <div class="jons">
                                             <figure><img src="images/jons_img1.png" alt="#"/></figure>
                                          </div>
                                       </div>
                                    </div>
                                    <div  class="col-md-8">
                                       <div class="test_box">
                                          <div class="jons">
                                             <h4>Jonson Donat</h4>
                                          </div>
                                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                     <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                     </a>
                     <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                     <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div> -->
   <!-- end testimonial -->

   <!-- Javascript files-->
   <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery-3.0.0.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/plugin.js') }}"></script>
   <!-- sidebar -->
   <script src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
   <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>
{% endblock %}