{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
<body>
<form class="allform" action="{{ url_for('login') }}" method="post">
    <h1>Log in</h1>
    {{ form.hidden_tag() }}
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <span style="color: red;">[{{ message }}]</span>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form class="login-form">
            <p>
            {{ form.username(size=32, class_="username", placeholder=form.username.label.text) }}<br>
            </p>
            <p>
            {{ form.password (size=32, class_="password", placeholder=form.password.label.text) }}<br>
            </p>
            <p>{{ form.submit(class_="sign_in_button") }}<br></p>

        <p class="message">Is this your first time with us? <br> <a class="register_here" href="{{ url_for('register') }}">Register here</a></p>
        </form>
</form>
</body>
{% endblock %}